<!-- 
Hero Banner
===================
This banner can contain a background video
or a background image. It is responsive
and will fallback to an image on mobile
where autoplay is not accepted.
This content should be seen as passive.

Requirements:
===================
- Video (optional) url path to asset
- Image (required) url path to asset
- Copy (optional)

How it works:
===================
If video
- Javascript will take the data-video string
and build a <video> tag and put that inside
the .player element.

If image
- Javascript will set the data-image as the
background of .hero-banner__image.

If touch device
- Javascript will ignore the video if one exists
and just build the image as a fallback for no
autoplay on touch devices.
-->
<div class="hero-banner">
  <div class="hero-banner__media">
    <div class="hero-banner__overlay"></div>
    <div class="hero-banner__video" data-video="assets/video/bg.mp4">
      <div class="hero-banner__player"></div>
    </div>
    <div class="hero-banner__image" data-image="assets/images/bg.jpg"></div>
  </div>
  <div class="hero-banner__copy">
    <div class="hero-banner__copy-inner">
      <h1>Coders for Labour</h1>
      <p>A collection of enthusiastic developers trying to further the interests and values of the Labour Party.</p>
      <a class="hero-banner__btn btn btn-lg btn-primary" href="http://slacksignup.codersforlabour.com" target="blank">Join us on Slack</a>
    </div>
  </div>
</div>
